<meta charset="UTF-8">
<title>Node.JS</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
</style>